*
{
    box-sizing: border-box;
    margin:0%;
    padding:0;

}
 html
 {
    font-size: 62.5%;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
 }
 .header
 {
     background-color: rgb(32, 32, 31);
    color: whitesmoke;
    padding: 2rem;
 }
 header a
 {
     color:whitesmoke;
     text-decoration: none;
     align-items: center;
 }

   
.contenedor
{
    width: 85%;
    max-width: 850px;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
.logo
{
    display: flex;
    justify-content: space-between;
    
}
.titulo
{
    margin-top: 2rem;
    margin-left: 2rem;
    padding-right: 3rem;
}
.navegacion ul 
{
    text-decoration: none;
    color: white;
    list-style: none;
}
.navegacion ul li 
{
    display: inline-block;
}
.navegacion ul li a{
    display: block;
}
p
{
    display: block;
    flex-wrap: wrap;
    text-align: justify;
    
    margin-left: 3rem;
    margin-right: 3rem;
    
}
/* Esta sera el area de los  identificadores del header */
#inicio
{
    margin-left: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}